VITE_WAITLIST_ENDPOINT=
VITE_CONTRIBUTION_ENDPOINT=
VITE_ALERT_ENDPOINT=
VITE_WATCH_ENDPOINT=
ALERT_FROM_EMAIL=
ALERT_FROM_NAME=ApplyFirst
ALERT_REPLY_TO=
PUBLIC_APP_URL=https://applyfirst-careers.pages.dev
WATCH_WORKER_PUBLIC_URL=
SMS_WEBHOOK_URL=
SMS_WEBHOOK_TOKEN=
DISCOVERY_SEARCH_PROVIDER=brave
DISCOVERY_SEARCH_COUNTRY=US
DISCOVERY_SEARCH_API_KEY=
BRAVE_SEARCH_API_KEY=
TAVILY_API_KEY=
